In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_csv('glassdoor_scrape.csv',index_col=0)
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Systems and Data Analyst,$58K-$106K,3.0,Coalition for Queens,"Long Island City, NY",-1,51 to 200 Employees,2011,Nonprofit Organization,Internet,Information Technology,Unknown / Non-Applicable,-1
1,"Advertising Data Analyst, Business Intelligence",$52K-$99K,3.9,Taboola,"New York, NY",-1,1001 to 5000 Employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
2,Data Analyst,$42K-$81K,3.4,Sapphire Digital,"Lyndhurst, NJ",-1,201 to 500 Employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
3,Data Analyst,$56K-$105K,4.5,GameChanger,"New York, NY",-1,51 to 200 Employees,2009,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
4,Data Analyst,$64K-$113K,3.7,Macquarie Group,"New York, NY",-1,10000+ Employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),-1

In [3]:
df['Salary Estimate'] = df['Salary Estimate'].map(lambda x: x.lower())

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Systems and Data Analyst,$58k-$106k,3.0,Coalition for Queens,"Long Island City, NY",-1,51 to 200 Employees,2011,Nonprofit Organization,Internet,Information Technology,Unknown / Non-Applicable,-1
1,"Advertising Data Analyst, Business Intelligence",$52k-$99k,3.9,Taboola,"New York, NY",-1,1001 to 5000 Employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
2,Data Analyst,$42k-$81k,3.4,Sapphire Digital,"Lyndhurst, NJ",-1,201 to 500 Employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
3,Data Analyst,$56k-$105k,4.5,GameChanger,"New York, NY",-1,51 to 200 Employees,2009,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
4,Data Analyst,$64k-$113k,3.7,Macquarie Group,"New York, NY",-1,10000+ Employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),-1

In [5]:
df['Salary Estimate'][0:10]

Documents/ds_glassdoor/scraping-glassdoor-selenium-masters

0    $58k-$106k
1     $52k-$99k
2     $42k-$81k
3    $56k-$105k
4    $64k-$113k
5            -1
6     $38k-$82k
7     $58k-$98k
8     $43k-$79k
9     $40k-$76k
Name: Salary Estimate, dtype: object